@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: "#00A292";
    --primary-light: "#d1eeec";
    --secondary: "#e6f6f5";
    --gray: "#93939f";
    --gray-dark: "#8f8f9b";
    --blue-dark: "#384772";
    --light-green: "#e2f7e8";
    --yellow-light: "#fff8de";
    --destructive-light: "#fee6e6";
  }
}