@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #00A292;
    --primary-light: #d1eeec;
    --secondary: #e6f6f5;
    --gray: #93939f;
    --gray-dark: #8f8f9b;
    --blue-dark: #384772;
    --light-green: #e2f7e8;
    --yellow-light: #fff8de;
    --destructive-light: #fee6e6;
    --radius: 0.5rem;

  }
}

html {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: var(--gray-dark);
  font-optical-sizing: auto;
  font-style: normal;
}