---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-7xl w-full">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --primary: "#00A292";
    --primary-light: "#d1eeec";
    --secondary: "#e6f6f5";
    --gray: "#93939f";
    --dark-gray: "#8f8f9b";
    --dark-blue: "#384772";
    --light-green: "#e2f7e8";
    --light-yellow: "#fff8de";
    --light-red: "#fee6e6";
  }

  html {
    font-family: system-ui, sans-serif;
    background: white;
  }
</style>
