---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign up">
  <div>
    <Logo />
  </div>
  <div>
    <secion class="w-full">
      <h1 class="">Create a new Account</h1>
      <p>
        Storage rack gives you secure access to all your files from any device.
        Create an account and start sharing files today!
      </p>
    </secion>
    <section class="w-full"></section>
  </div>
</Layout>
