---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
import Sign_up from "@/components/Signup/Sign_up";
---

<Layout title="Sign up">
  <div class="h-full flex flex-col px-6">
    <div class="py-6 md:px-10">
      <Logo />
    </div>
    <div class="flex flex-col md:flex-row min-h-[calc(100vh-80px)] h-full">
      <secion class="w-full flex items-center px-10">
        <div class="">
          <h1
            class="text-blue-dark text-center md:text-left md:leading-[70px] mt-9 md:mt-0 mb-5 font-bold text-4xl md:text-6xl capitalize"
          >
            Create a

            <span class="">new Account</span>
          </h1>
          <p class="text-xl tracking-wide md:mr-40 text-center md:text-left">
            Storage rack gives you secure access to all your files from any
            device. Create an account and start sharing files today!
          </p>
        </div>
      </secion>
      <section class="w-full mt-12 md:mt-0 grid place-items-center">
        <Sign_up />
      </section>
    </div>
  </div>
</Layout>
