---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign up">
  <div>
    <Logo />
  </div>
  <div class="flex border border-black h-full">
    <secion class="w-full border border-red-400">
      <h1 class="text-blue-dark font-bold text-3xl capitalize">
        Create a new Account
      </h1>
      <p>
        Storage rack gives you secure access to all your files from any device.
        Create an account and start sharing files today!
      </p>
    </secion>
    <section class="w-full"></section>
  </div>
</Layout>
